<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Nurturing Neurons</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cedarville+Cursive&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito&amp;display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito+Sans&amp;display=swap">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.12.0/css/all.css">
    <link rel="stylesheet" href="assets/css/Website-Styles.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-md sticky-top d-flex d-xl-flex flex-row" style="background: var(--white);box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);">
        <div class="container-fluid"><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav d-xl-flex flex-row flex-fill justify-content-evenly mx-auto" style="max-width: 850px;">
                    <li class="nav-item"><a class="nav-link custom-nav-item" href="/" style="font-family: 'Nunito Sans', sans-serif;">Home</a></li>
                    <li class="nav-item"><a class="nav-link custom-nav-item" href="/about-us" style="font-family: 'Nunito Sans', sans-serif;">About Us</a></li>
                    <li class="nav-item"><a class="nav-link active custom-nav-item" href="/events" style="font-family: 'Nunito Sans', sans-serif;">Events<i class="fas fa-angle-down custom-nav-icon" style="margin-left: 7px;"></i></a>
                        <div class="d-xl-flex custom-nav-dropdown"><a class="custom-nav-item custom-nav-item-dropdown" href="/events/neuroart" style="font-family: 'Nunito Sans', sans-serif;color: var(--darkBlue) !important;">Neuro Art</a><a class="custom-nav-item custom-nav-item-dropdown" href="/events/silent-auction" style="font-family: 'Nunito Sans', sans-serif;">Silent Auction</a><a class="custom-nav-item custom-nav-item-dropdown" href="/events/webinars" style="font-family: 'Nunito Sans', sans-serif;">Webinars</a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link custom-nav-item" style="font-family: 'Nunito Sans', sans-serif;">Neuromuscular Conditions<i class="fas fa-angle-down custom-nav-icon" style="margin-left: 7px;"></i></a>
                        <div class="d-xl-flex custom-nav-dropdown"><a class="custom-nav-item custom-nav-item-dropdown" href="/neuromuscular-conditions/cmt" style="font-family: 'Nunito Sans', sans-serif;"><strong>Charcot-Marie-Tooth Disease</strong><br></a><a class="custom-nav-item custom-nav-item-dropdown" href="/neuromuscular-conditions/dmd" style="font-family: 'Nunito Sans', sans-serif;"><strong>Duchenne Muscular Dystrophy</strong><br></a><a class="custom-nav-item custom-nav-item-dropdown" href="/neuromuscular-conditions/fa" style="font-family: 'Nunito Sans', sans-serif;"><strong>Friedreich's Ataxia</strong><br></a></div>
                    </li>
                    <li class="nav-item"><a class="nav-link custom-nav-item" href="/contact-us" style="font-family: 'Nunito Sans', sans-serif;">Contact Us</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <section style="background: linear-gradient(var(--lightBlue) 25%, var(--lightPink));padding-top: 10em;padding-right: 4.5em;padding-bottom: 6em;padding-left: 4.5em;">
        <div class="container">
            <div class="row">
                <div class="col-md-6 d-flex d-xl-flex justify-content-center align-items-center justify-content-xl-center align-items-xl-center"><img src="assets/img/neuroart-final-poster.png" style="max-width: 100%;"></div>
                <div class="col-md-6" style="padding: 32px;">
                    <p class="subtitle" style="margin-bottom: 20px;"><strong>Visual Arts Contest</strong></p>
                    <h1 class="title" style="margin-bottom: 14px;padding-bottom: 0px;"><strong>NeuroART</strong></h1>
                    <p class="text" style="margin-bottom: 20px;">NeuroART is an opportunity for elementary, middle, and high school students to explore the fascinating field of neuroscience. Students are encouraged to blend scientific knowledge of neuroscience with artistic talent to create a visual arts piece inspired by aspects of the nervous system. Students may use their preferred visual arts medium. All submissions should be titled and may be accompanied by an artistic statement by the student (100 words max) that describes how their work relates to neuroscience.<br><br>We invite students to explore the complexities of the nervous system and display their artistic skills while supporting the Nurturing Neurons Guild and the Neuromuscular Program at Seattle Children's Hospital.<br><br>The deadline to submit entries is <strong>March 14th, 2022</strong>.<br></p>
                    <section class="d-xl-flex flex-column justify-content-xl-center align-items-xl-center"><span class="line" style="border-width: 2.5px;margin-bottom: 39px;margin-top: 19px;"></span>
                        <div id="countdown" style="width: 100%;">
                            <div class="row">
                                <div class="col counter">
                                    <h1 class="title counter-header">00</h1>
                                    <h3 class="heading counter-text">Days</h3>
                                </div>
                                <div class="col counter">
                                    <h1 class="title counter-header">00</h1>
                                    <h3 class="heading counter-text">Hours</h3>
                                </div>
                                <div class="col counter">
                                    <h1 class="title counter-header">00</h1>
                                    <h3 class="heading counter-text">Minutes</h3>
                                </div>
                                <div class="col counter">
                                    <h1 class="title counter-header">00</h1>
                                    <h3 class="heading counter-text">Seconds</h3>
                                </div>
                            </div>
                        </div>
                        <h3 class="heading" style="padding: 20px;margin-bottom: 20px;text-align: center;">Remaining Until The Deadline!</h3><a class="btn text-nowrap button" role="button" href="https://www.cognitoforms.com/NurturingNeuronsGuild/NeuroART2022ContestSubmissionForm?v2" target="_blank">Submit Your Entry<i class="fas fa-brain" style="padding-left: 20px;"></i></a><span class="line" style="border-width: 2.5px;margin-bottom: 39px;margin-top: 19px;"></span>
                    </section>
                </div>
            </div>
        </div>
    </section>
    <section style="margin-top: 6em;margin-right: 4.5em;margin-bottom: 7em;margin-left: 4.5em;padding: 32px;">
        <p class="subtitle" style="margin-bottom: 20px;">Rules and Regulations</p>
        <h1 class="title" style="padding-bottom: 5px;margin-bottom: 20px;">Official Contest Rules</h1>
        <div id="list-group"></div>
    </section>
    <footer>
        <section style="margin-top: 2em;margin-right: 4.5em;margin-bottom: 2em;margin-left: 4.5em;">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 d-flex align-items-center" style="padding: 15px;">
                        <p class="text">Nurturing Neurons is an approved <strong><span style="text-decoration: underline;">501(c)3 nonprofit organization</span></strong>.<br></p>
                    </div>
                    <div class="col-md-6" style="padding: 15px;">
                        <p class="text">This website was designed and created by Anshul Noori and Anushka Noori<br></p>
                    </div>
                </div>
            </div>
        </section>
        <section class="d-xl-flex justify-content-xl-center" style="margin-bottom: 2em;margin-right: 4.5em;margin-left: 4.5em;">
            <p class="text" style="text-align: center;font-size: 0.7em;font-weight: 400;">The information provided on this website, including any health-related material is provided for educational purposes only and is not intended to replace the advice of a physician or other qualified professional and does not constitute medical advice. Advice on the treatment or care of a patient should be obtained through consultation with a physician.<br></p>
        </section>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://unpkg.com/react@17/umd/react.production.min.js"></script>
    <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js"></script>
    <script src="https://unpkg.com/babel-standalone@6/babel.min.js"></script>
    <script src="assets/js/react-countdown.js"></script>
    <script src="assets/js/react-neuroart-dropdown.js"></script>
</body>

</html>